@font-face {
  font-family: "Binggrae-Bold";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Binggrae-Bold.ttf);
}

@font-face {
  font-family: "GodoM";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/GodoM.ttf);
}
